<%= form_with(model: user, local: true, id: "my") do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: "name" %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: "email" %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone,id: "phone" %>
  </div>

  <div class="field">
    <%= form.label :photo %>
    <%= form.text_field :photo , id: "photo"%>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: "address" %>
  </div>

  <div class="actions">
    <%= form.submit "cleate", :class=> "btn btn-success"%>
  </div>
<% end %>
<script>
  $(document).ready(function () {

    $('#myform').validate({ // initialize the plugin
        rules: {
            name: {
                required: true,
                minlength: 5
            },
            email: {
                required: true,
                email: true
            }.
            phone: {
              required: true,
              minlength: 10,
              maxlength: 10
            }
        }
          submitHandler: function (form) { // for demo
            alert('valid form submitted'); // for demo
            return false; // for demo
        }
    });

});
</script>