<%= form_with(model: user, local: true, id: "my") do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: "name" %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: "email" %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone,id: "phone" %>
  </div>
  <div class="field">
    <%= form.label :photo %>
    <%= form.file_field :photo , id: "photo", value: "#{@user.photo.url}"%>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: "address" %>
  </div>

  <div class="actions">
    <%= form.submit "cleate", :class=> "btn btn-success submit"%>
  </div>
<% end %>
<!-- <script>
  $(document).ready(function () {
    
    alert(document.getElementById("name"));
$(".submit").attr('disabled', 'disabled');
    $("#name").keyup(function(){
      $(".submit").attr('disabled', 'disabled');
    });
     $("#email").keyup(function(){
      $(".submit").attr('disabled', 'disabled');
    });
      $("#phone").keyup(function(){
      $(".submit").attr('disabled', 'disabled');
    });
       $("#photo").keyup(function(){
      $(".submit").attr('disabled', 'disabled');
    });
        $("#address").keyup(function(){
      $(".submit").attr('disabled', 'disabled');
    });

});
</script> -->